<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="socketServer" version="1.0.0">
  <name>socketServer</name>
  <js-module name="socketServer" src="www/socketServer.js">
    <clobbers target="cordova.plugins.socketServer"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="socketServer">
        <param name="android-package" value="socketServer.socketServer"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/socketServer.java" target-dir="src/socketServer/socketServer"/>
  </platform>
</plugin>
